{% extends "base_template.html" %}

{% block title %}Explore{% endblock %}

{% block content %}

    <h1 class="h2 mb-3"><b>Explore</b></h1>

    <div class="row">

        <h3 class="h3 mb-3">
                <span id="results_number"></span>
            </h3>

        <div class="col-lg-7 scrollable-column">

            <div class="row">

                <div id="results"></div>

                <div class="col text-center" id="results_not_found">
                    <img src="{{ url_for('static', filename='img/items/not_found.svg') }}"
                         style="width: 50%; max-width: 100px; height: auto; margin-top: 30px"/>
                    <p style="margin-top: 20px">
                        We have not found any datasets that meet your search criteria. <br>How about trying some others?
                    </p>
                </div>

                <div id="results_not_found" style="text-align: center;">

                </div>


            </div>
        </div>

        <div class="col-lg-5 fixed-column" id="filters">

            {{ form.hidden_tag() }}

            <div class="row">

                <div class="col-12">

                    <div class="row">

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="query">
                                    Search for datasets by title, description, authors, tags, Mermaid files...
                                </label>
                                <input class="form-control" id="query" name="query" required="" type="text"
                                       value="" autofocus>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="diagram_type">Filter by diagram
                                    type</label>
                                <select class="form-control" id="diagram_type" name="diagram_type"
                                        required="">
                                    <option value="any">Any</option>
                                    <option value="none">None</option>
                                    <option value="flowchart">Flowchart</option>
                                    <option value="sequence_diagram">Sequence diagram</option>
                                    <option value="class_diagram">Class diagram</option>
                                    <option value="state_diagram">State diagram</option>
                                    <option value="entity_relationship_diagram">Entity-relationship diagram</option>
                                    <option value="user_journey">User journey</option>
                                    <option value="gantt">Gantt</option>
                                    <option value="pie_chart">Pie chart</option>
                                    <option value="quadrant_chart">Quadrant chart</option>
                                    <option value="requirement_diagram">Requirement diagram</option>
                                    <option value="gitgraph_diagram">Gitgraph diagram</option>
                                    <option value="c4_diagram">C4 diagram</option>
                                    <option value="mindmaps">Mindmaps</option>
                                    <option value="timeline">Timeline</option>
                                    <option value="zenuml">ZenUML</option>
                                    <option value="sankey">Sankey</option>
                                    <option value="xychart">XY chart</option>
                                    <option value="blockdiagram">Block diagram</option>
                                    <option value="packet">Packet</option>
                                    <option value="kanban">Kanban</option>
                                    <option value="architecture">Architecture</option>
                                    <option value="radar">Radar</option>
                                    <option value="treemap">Treemap</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="trending_period">Show trending datasets from</label>
                                <select class="form-control" id="trending_period" name="trending_period">
                                    <option value="none">All datasets</option>
                                    <option value="week">Last Week</option>
                                    <option value="month">Last Month</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-6">

                            <div>
                                Sort results by
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" value="newest" name="sorting"
                                           checked="">
                                    <span class="form-check-label">
                                      Newest first
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" value="oldest" name="sorting">
                                    <span class="form-check-label">
                                      Oldest first
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" value="trending_week" name="sorting">
                                    <span class="form-check-label">
                                      Trending Datasets-LastWeek
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" value="trending_month" name="sorting">
                                    <span class="form-check-label">
                                      Trending Datasets-LastMonth
                                    </span>
                                </label>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12">

                            <div class="mt-3">

                                <div id="authors">

                                </div>

                                <button id="clear-filters" class="btn btn-outline-primary">
                                    <i data-feather="x-circle" style="vertical-align: middle; margin-top: -2px"></i>
                                    Clear filters
                                </button>


                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

            </div>

        </div>


    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('explore.scripts') }}"></script>
{% endblock %}