name: Safety scan

on:
  schedule:
    - cron: '0 4 * * *'
  push:
    paths:
      - "requirements.txt"
  workflow_dispatch:

jobs:
  safety-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Run Safety Scan (Critical + High)
        uses: pyupio/safety-action@v1
        with:
          api-key: ${{ secrets.SAFETY_API_KEY }}
          args: --severity high --detailed-output